#Difine in and out folders and files


inputDir = /srv01/agrp/annai/annai/H027/mc16a/Sherpa
#inputDir = /srv01/agrp/annai/annai/Hc_Yukawa_Analysis/MC_samples/Mxaod_Hc_ofic/MxOAD_ofic/mc16d/m_yy_90_175
#inputDir = /srv01/agrp/annai/annai/Hc_Yukawa_Analysis/MC_samples/Mxaod_Hc_ofic/MxOAD_ofic/mc16e/m_yy_90_175


#1. Dont forget to change
submitDir = myy_h027_mc16a_all

#Here are the options for the ntuples
#Nevents = 10000
reco_jet_collection = HGamAntiKt4PFlowCustomVtxHggJets
isReco = true
doCutFlow = true
isTruth = false
ispTcut =  true  #false or true
phPtcut =  25
dR_cut = 1.0
isSignal = false
doOptimization = false



