#Difine in and out folders and files


#inputDir = /srv01/agrp/annai/annai/NEW_SAMPLES_NEWMXAOD/Nominal/mc16a/WmH
#inputDir = /srv01/agrp/annai/annai/NEW_SAMPLES_NEWMXAOD/Nominal/mc16d/WmH
inputDir = /srv01/agrp/annai/annai/NEW_SAMPLES_NEWMXAOD/Nominal/mc16e/WmH



#1. Dont forget to change
submitDir = Wminus_h027_Ncjets_mc16e

#Here are the options for the ntuples
#Nevents = 1000
reco_jet_collection = HGamAntiKt4PFlowCustomVtxHggJets
isReco = false
doCutFlow = true
isTruth = false
ispTcut =  true  #false or true
phPtcut =  25
dR_cut = 1.0
isSignal = true
doOptimization = false

