#Difine in and out folders and files


inputDir = /srv01/agrp/annai/annai/Hc_Yukawa_Analysis/HGam_Core_Syst_0p2/run/runHGamCutflowAndMxAOD_2022.07.11_16.49.24/data-MxAOD/
#inputDir = /srv01/agrp/annai/annai/Hc_Yukawa_Analysis/MC_samples/data/data16
#inputDir = /srv01/agrp/annai/annai/Hc_Yukawa_Analysis/MC_samples/data/data17
#inputDir = /srv01/agrp/annai/annai/Hc_Yukawa_Analysis/MC_samples/data/data18


#1. Dont forget to change
submitDir = Data_test_new

#Here are the options for the ntuples
#Nevents = 10000
reco_jet_collection = HGamAntiKt4PFlowCustomVtxHggJets
isReco = true
doCutFlow = true
isTruth = false
ispTcut =  true  #false or true
phPtcut =  20
dR_cut = 1.0
isSignal = false
doOptimization = false

