#Difine in and out folders and files

isGridJob = true

InDS = user.aivina.user.aivina.data17_13TeV.periodAllYear_MxAOD.root/
OutDS = user.aivina.data_17_HISTOS_v2


#Here are the options for the ntuples
#Nevents = 10000
isReco = true
doCutFlow = true
isTruth = false
ispTcut =  true  #false or true
phPtcut =  25
dR_cut = 1.5
isSignal = false
doOptimization = false



