#Difine in and out folders and files

isGridJob = true

InDS = user.aivina.Diphoton_myy_90_175_fulim_try2_mc16e_MxAOD.root
OutDS = user.aivina.myy_90_175_fulsim_HISTOS_bugfix_mc16e


#Here are the options for the ntuples
#Nevents = 10000
isReco = true
doCutFlow = true
isTruth = false
ispTcut =  true  #false or true
phPtcut =  25
dR_cut = 1.5
isSignal = false
doOptimization = false



