#Difine in and out folders and files


inputDir = /srv01/agrp/annai/annai/Hc_Yukawa_Analysis/MC_samples/M_yy/mc16e/


#1. Dont forget to change
submitDir = Sherpa_ctagOpt_mc16e



#Here are the options for the ntuples
#Nevents = 1000
reco_jet_collection = HGamAntiKt4PFlowCustomVtxHggJets
isReco = false
doCutFlow = true
isTruth = false
ispTcut =  true  #false or true
phPtcut =  25
dR_cut = 1.0
isSignal = false
doOptimization = true

